* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    background-image: url(assets/nlw-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #121214;
}

header {
    margin-top: 50px;
}

header div {
    text-align: center;
    width: 120px;
    height: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    display: flex;
    border-radius: 50%;
    padding: 4px;

    transition: transform 0.3s;
}

header div:hover {
    transform: scale(1.1);
}

header div img {
    width: 100%;
    border-radius: 50%;
}

main {
    max-width: 90%;
    width: 580px;
    margin: 32px auto 26px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;

    color: white;
    font-family: 'Inter', sans-serif;
}

section {
    line-height: 160%;
    padding-top: 4px;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 10px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 24px;
}

section ul li {
    transition: transform 0.3s
}

section ul li:hover {
    transform: scale(1.1);
}

main div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

.games-list img {
    border-radius: 8px;
    width: 90px;
}

.channels-list img {
    border: #443E54 solid 1px;
    border-radius: 50%;
    width: 70px;
}

.social-list li:nth-child(3) svg {
    transform: translateY(5px);
}

.social-list li:nth-child(4) svg {
    transform: translateY(5px);
}

/* animation */

header div {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-name: fromTop;
    animation-duration: 0.7s;
    animation-delay: 0.1s;
    animation-fill-mode: backwards;
}

main section {
    animation-name: fromBottom;
    animation-duration: 0.7s;
    animation-fill-mode: backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2) {
    animation-delay: 0.4s;
}

main section:nth-child(3) {
    animation-delay: 0.8s;
}

@keyframes fromTop {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 100;
    }
}

@keyframes fromBottom {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
    }
}